sphinx>=1.4
pandoc
nbconvert
ipykernel~=6.4.1
ipyleaflet
matplotlib
nbsphinx
rioxarray
pystac_client
sphinxcontrib-napoleon
sphinx-rtd-theme
stackstac
folium
selenium
Pillow
pydantic==1.9.1
boto3==1.24.15
boto3-stubs[cognito-idp,cognito-identity]
